<% if @job.pending? %>
  $('.job-status').html("<p>You claimed this job. Get to work!</p>")
<% elsif @job.in_progress? %>
  $('.alert').html("<p>in progress</p>")
<% elsif @job.completed? %>
  $('.alert').html("<p>Blorg</p>")
<% end %>
