<% if @job.completed? %>
  $('.alert').html("<p>You completed <%= @job %>. Get that money!</p>")
<% elsif @job.in_progress? %>
  $('.alert').html("<p>You started <%= @job %>. Get to work!</p>")
<% end %>
